body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  overflow: hidden;
}

::-moz-selection {
  background: rgba(0, 0, 0, 0);
}
::selection {
    background: rgba(0, 0, 0, 0);
}

ol, ul {
  padding-left: 30px;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.font-small {
  font-size: 11px;
  margin-left: 1px;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-board {
  margin: auto;
  .game-status {
    background-color: black;
    height: 20px;
    color: white;
    line-height: 20px;
    padding-left: 5px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: $square_size_small + $square_size_small + $square_size_small + $square_size_small + $square_size_small + $square_size_small + $square_size_small + $square_size_small;
    @include for-tablet-portrait-up { 
      width: $square_size_medium + $square_size_medium + $square_size_medium + $square_size_medium + $square_size_medium + $square_size_medium + $square_size_medium + $square_size_medium;
    }
    
    @include for-desktop-up {
      width: $square_size_large + $square_size_large + $square_size_large + $square_size_large + $square_size_large + $square_size_large + $square_size_large + $square_size_large;
    }

    .menu {
      cursor: pointer;
      float: left;
      margin-right: 4px;
      padding-top: 3px;
      @extend %fa-icon;
      @extend .far;
    
      &:before {
        content: fa-content($fa-var-caret-square-down);
      }

      &:hover {
        color: darkorange;
      }
      &.active {
        color: orange;
        @extend %fa-icon;
        @extend .far;
    
        &:before {
          content: fa-content($fa-var-caret-square-up);
        }
      }
    }

    .play-status {
      float: left;
    }
    .check-status {
      float: right;
    }
  }
}

.hidden {
  display: none;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  top: 0;
  z-index: 1;
  opacity: 0.95;
}

.game-intro,
.game-outro,
.game-conf  {
  position: relative;
  top: 20%;
  margin: auto;
  width: 60%;
  padding: 10px;
  background-color: black;
  opacity: 1;
  color: white;
  height: 250px;

  h1 {
    text-align: center;
  }

  .line {
    margin-bottom: 2px;
    border-bottom: 1px dashed orange;
  }

  .large-line {
    margin-bottom: 2px;
    border-bottom: 1px dashed orange;
    line-height: 40px;
  }

  .value {
    float: right;
    margin-right: 0;
    width: 110px;
    text-align: center;
    line-height: 15px;
    height: 15px;

    select {
      background-color: darkorange;
      color: white;
      padding: 2px;
      width: 100px;
      border: none;
      font-size: 16px;
      box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
      -webkit-appearance: button;
      appearance: button;
      outline: none;

      option {
        padding: 30px;
      }
    }

  }
  .line-center {
    text-align: center;
    margin: 10px;
  }

  .submit,
  .stop {
    margin: 3px;
    background-color: darkorange;
    color: white;
    width: 170px;
    border: none;
    text-transform: uppercase;
    padding-top: 4px;
    padding-bottom: 3px;
    cursor: pointer;

    &:hover {
      background-color: orange;
    }

  }

  .stop {
    background-color: darkred;
    &:hover {
      background-color: red;
    }
  }

  @include for-tablet-portrait-up {
    .value {
      margin-right: 100px;
      width: 100px;
      select {
        width: 150px;
      }
    }
  }
}

.game-conf {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  top: 20px;
  z-index: 1;
  background-color: black;
  opacity: 1;
  color: white;
  width: $square_size_small + $square_size_small + $square_size_small + $square_size_small + $square_size_small + $square_size_small + $square_size_small + $square_size_small;
  height: $square_size_small + $square_size_small + $square_size_small + $square_size_small + $square_size_small + $square_size_small + $square_size_small + $square_size_small;
  @include for-tablet-portrait-up { 
    width: $square_size_medium + $square_size_medium + $square_size_medium + $square_size_medium + $square_size_medium + $square_size_medium + $square_size_medium + $square_size_medium;
    height: $square_size_medium + $square_size_medium + $square_size_medium + $square_size_medium + $square_size_medium + $square_size_medium + $square_size_medium + $square_size_medium;
  }
  
  @include for-desktop-up {
    width: $square_size_large + $square_size_large + $square_size_large + $square_size_large + $square_size_large + $square_size_large + $square_size_large + $square_size_large;
    height: $square_size_large + $square_size_large + $square_size_large + $square_size_large + $square_size_large + $square_size_large + $square_size_large + $square_size_large;
  }

}

.game-outro {
  height: 210px;
  @include for-tablet-portrait-up {
    height: 170px;
  }
}


.status-of-lost {
  font-family: Arial, Helvetica, sans-serif;
  .bag {
    padding-left: 5px;
    box-sizing: border-box;
    width: 50%;

    .piece-type {
      margin-right: 3px;
    }

    .diff {
      line-height: 17px;
      float: right;
      margin-right: 2px;
      font-size: 11px;

      .ok {
        color: green;
      }

      .ko {
        color: red;
      }
    }

    &.whites-bag {
      background-color: white;
      color: black;
      float: left;
    }
    &.blacks-bag {
      background-color: black;
      color: white;
      float: right;
    }
  }
}